[Desktop Entry]
Type=Application
Name=Melodia
GenericName=Music Player
Comment=Cross-platform desktop music player
Exec=@EXEC@ %F
Icon=melodia
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;audio;player;library;sound;songs;tracks;mp3;flac;ogg;
Terminal=false
StartupWMClass=Melodia
MimeType=audio/mpeg;audio/flac;audio/x-flac;audio/mp4;audio/x-m4a;audio/ogg;audio/x-vorbis+ogg;audio/wav;audio/x-wav;audio/aac;audio/x-aac;audio/aiff;audio/x-aiff;
